<br><br><div style="background: lightgreen; padding: 10px 5px; ">
  <h1><br><font color="#007f00"><br>Yeni Borç</h1><br>

<%= render 'form' %>

<br>


<h5><%= link_to 'Geri', debts_path %></h5>
</div>