<br><div style="background: plum; padding: 10px 5px; font-family:"Times New Roman";><br><h1><font color="purple">Yeni Borçlu Ekle</h1><br>

<%= render 'form' %>
<br>

<br><h4><%= link_to 'Geri', friends_path %></h4>
