<h1 color="purple">BORÇ TAKİBİ</h1>

<br><br>
<B><I><P>     ÇEVRENİZDE BİR ÇOK İNSANA BORÇ VERDİNİZ VE İŞ YOĞUNLUĞUNUZDAN DOLAYI BORÇLARINIZI TAKİP EDEMİYOR MUSUNUZ??</B></I></P>
<br><br>

<B> Borç istemekten de çekiniyorsanız <font color=red>ARTIK</font> yeni çözüm ! <br><br><br><br>

<font color=green>TWITTER</font> ve <font color=blue>FACEBOOK</font> ile<i><b> Borçlu Arkadaşlarınızı Dürtün</i></b> !


<br><br><br>

<%= link_to 'Yeni Borçlu Ekle', new_friend_path %>

