<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
</head><body>
<br><br>
<center><div style="background:url(http://i.imgur.com/Y9CPvBQ.jpg); width:780px; height:100px;">

<div style="padding:20px 20px 20px 20px;"><font color=purple><B><I><P>     ÇEVRENİZDE BİR ÇOK İNSANA BORÇ VERDİNİZ VE BORÇLARINIZI TAKİP EDEMİYOR <br><br>MUSUNUZ??</B></I></P>
<br></div>
</center>
</div>

<center><div style="background:url(http://i.imgur.com/ZjQCpjU.jpg); width:780px; height:50px;">

<div style="padding:20px 20px 20px 20px;"><font color=purple><B><I><P> Borç istemekten de çekiniyor musunuz?? </B></I></P>
<br></div>
</center>
</div>
 <br>

<center><div style="background:url(http://i.imgur.com/Y9CPvBQ.jpg); width:780px; height:75px;">

<div style="padding:20px 20px 20px 20px;"><font color=purple><B><I><P><br> <font color=red>ARTIK</font> YENİ ÇÖZÜM !!</B></I></P>
<br></div>
<br>
</div>
<table width="800" border="0"  cellspacing="3" bordercolor=”PURPLE” >
<tr>
<td bgcolor="ffffff"><center><img src="http://i.imgur.com/Q88yc2k.jpg?1"></center></td>
<td background="http://i.imgur.com/ZjQCpjU.jpg"><br><center><B> Siz veya senetler değil,<br><br> bırakın BORÇlarınızla <br><br>
<font color=green>TWITTER</font> ve <font color=blue>FACEBOOK</font><i><b> Uğraşsın! </i></b></center> </td>

</tr>
</table>

 
</font>
</body>
</html>

